body{
  background: #000;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.container{
  padding: 0 15px;
  max-width: 1170px;
  margin: 0 auto;
}

/*! header  */
.header{
  display: flex;
  align-items: center;
  padding: 40px 0 80px;
}

.logo-link{
  margin-right: 50px;
}

.nav-menu{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.nav-menu-item{
  margin-right: 30px;
}

.nav-menu-link{
  text-decoration: none;
  color: #8A898C;
  transition: .15s;
}

/*! main */
.main-date{
  font-size: 24px;
  color: #d1d0d1;
  margin-bottom: 38px;
}

.main-title{
  margin-bottom: 40px;
}

.main-desc{
  max-width: 430px;
  font-size: 16px;
  line-height: 140%;
  color: #d1d0d1;

}

@media (hover) {
  .nav-menu-link:hover{
    color: #757575;
  }
}