:root{
  --gray: #d1d0d1;
  --black: #14131A;
}
body{
  color: var(--gray);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.wrapper{
  height: 100%;
  min-height: 100vh;
  background: url(../img/bg.jpg) top/cover no-repeat;
}

.wrapper--blood{
  background: url(../img/blood.png) right 15%/60% no-repeat, url(../img/bg.jpg) top/cover no-repeat;
}

.venom{
  position: absolute;
  top: 0;
  right: 0;
}

.container{
  padding: 0 15px;
  max-width: 1170px;
  margin: 0 auto;
}

/*! header  */
.header{
  display: flex;
  align-items: center;
  padding: 40px 0 55px;
}

.logo-link{
  margin-right: 50px;
}

.nav-menu{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.nav-menu-item{
  margin-right: 30px;
}

.nav-menu-link{
  text-decoration: none;
  color: #8A898C;
  transition: .15s;
}

/*! main */
.main-date{
  font-size: 24px;
  /* margin-bottom: 38px; */
  margin-bottom: 3%;
}

.main-title{
  /* margin-bottom: 30px; */
  margin-bottom: 3%;
}

.title-img{
  width: 70%;
}

.main-desc{
  max-width: 430px;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  /* margin-bottom: 70px; */
  margin-bottom: 5%;
}

.buttons{
  display: flex;
}

.button{
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  background: url(../img/ticket-btn.svg) 12% 50%/8.5% no-repeat;
  vertical-align: middle;
  padding: 15px 30px 15px 55px;
  margin-right: 22px;
  cursor: pointer;
  white-space: nowrap;
}

.button.button-primary{
  color: #8d0019;
  background: #fff;
  background: url(../img/play-btn.svg) 15% 50%/8.5% no-repeat, #fff;
  /* padding: 10px 10px 10px 40px; */
}

/* ! About */
.about{
  display: flex;
}

.col{
  flex: 1 1 50%;
}

/* .col.col-1{
  display: flex;
  flex-direction: column;
} */
.col-2 {
  display: flex;
}

.about-title{
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 20px;
}

.about-desc{
  max-width: 423px;
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 30px;
}

.about-subtitle{
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 5px;
}

.about-subtitle.about-subtitle--actors{
  margin-bottom: 15px;
}

.subtitle-list{
  padding: 0;
  list-style: none;
  margin: 0 0 20px;
}

.subtitle-list--columns{
  max-width: fit-content;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 50px;
  -moz-column-gap: 50px;
  column-gap: 50px;
  margin-bottom: 33px;
}

.list-item{
  white-space: nowrap;
  line-height: 1.5;
}

.trailer{
  width: 100%;
  max-width: 356px;
  height: 205px;
  background: url(../img/preview.jpg) center/cover no-repeat;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play{
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  font-size: 0;
  background: url(../img/play-btn.svg) center/35% no-repeat, #fff;
  cursor: pointer;
}

.poster{
  max-width: 362px;
  /* object-fit: cover; */
  margin-right: 30px;
  border-radius: 5px;
}

.nav-button{
  width: 73px;
  height: 17px;
  color: #fff;
  text-align: left;
  padding: 0;
  border: none;
  background: url(../img/burger.svg) right/contain no-repeat;
  display: none;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

@media (hover) {
  .nav-menu-link:hover{
    color: #757575;
  }
}

@media (max-width: 1399px) {
  .venom{
    width: 50%;
  }
}

@media (max-width: 991px){
  .wrapper {
    background: var(--black);
  }
  .about{
    flex-direction: column;
  }
  .col{
    margin-bottom: 5%;
  }
}

@media (max-width: 767px) {
  .venom{
    top: 10%;
  }
  .header{
    padding: 30px 0 40px;
  }
}

@media (max-width: 575px) {
  .header{
    justify-content: space-between;
  }
  .nav-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: .2s;
  }
  .nav-menu.active{
    transform: translateX(0);
  }
  .nav-menu-item{
    margin: 0;
    padding: 2% 0;
  }
  .nav-menu-link{
    color: var(--black);
    font-weight: 700;
  }
  .nav-button{
    display: block;
    justify-self: flex-end;
    transition: .2s;
  }
  .nav-button.active{
    color: var(--black);
    background: url(../img/arrow.svg) right/contain no-repeat;
  }
  .buttons{
    flex-direction: column;
    align-items: center;
  }
  .col-2{
    flex-direction: column;
  }
  .poster{
    margin-bottom: 3%;
    margin-right: 0;
  }
}