body{
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.wrapper{
  height: 100vh;
  background: url(../img/blood.png) right center/contain no-repeat, url(../img/bg.jpg) top/cover no-repeat;
}

.venom{
  position: absolute;
  top: 0;
  right: 0;
}

.container{
  padding: 0 15px;
  max-width: 1170px;
  margin: 0 auto;
}

/*! header  */
.header{
  display: flex;
  align-items: center;
  padding: 40px 0 55px;
}

.logo-link{
  margin-right: 50px;
}

.nav-menu{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.nav-menu-item{
  margin-right: 30px;
}

.nav-menu-link{
  text-decoration: none;
  color: #8A898C;
  transition: .15s;
}

/*! main */
.main-date{
  font-size: 24px;
  color: #d1d0d1;
  margin-bottom: 38px;
}

.main-title{
  margin-bottom: 30px;
}

.main-desc{
  max-width: 430px;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  color: #d1d0d1;
  margin-bottom: 70px;
}

.buttons{
  display: flex;
}

.button{
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  background: url(../img/ticket-btn.svg) 12% 50%/8.5% no-repeat;
  vertical-align: middle;
  padding: 15px 30px 15px 55px;
  margin-right: 22px;
  cursor: pointer;
}

.button.button-primary{
  color: #8d0019;
  background: #fff;
  background: url(../img/play-btn.svg) 15% 50%/8.5% no-repeat, #fff;
  /* padding: 10px 10px 10px 40px; */
}

@media (hover) {
  .nav-menu-link:hover{
    color: #757575;
  }
}